body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}

.header {
    background-color: #1F2937;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 250px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.title-container {
    display: flex;
    margin: 170px 250px;
}

.title {
    font-size: 48px;
    color: #F9FaF8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
}

.box-container {
    justify-content: center;
    align-items: center;
    margin: 170px 250px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}


.box-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: light italic;

}

.quote-ref {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

.signup-banner {
    padding: 50px 180px;
    display: flex;
    justify-content: center;
}

.banner {
    background-color: #3882F6;
    margin: auto;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px; 
}

button {
    background-color: #3882F6;
}